@model Liftoff_ChooseYourOwnAdventure.Models.Storyboard

<p>@Model.Story</p>

<form asp-controller="Game" asp-action="Index" method="post">
    <div class="form-group">
        <input type="radio" id="id" value="@Model.NextStoryboardID1" />
        <label>@Model.Option1</label>
<br />
        <input type="radio" id="id" value="@Model.NextStoryboardID2" />
        <label>@Model.Option2</label>
    </div>
    <input type="submit" value="Next" />
</form>